* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

a,
button {
    text-decoration: none;
    cursor: pointer;
}

body {
    max-width: 1440px;
    margin: 0 auto;
}

li {
    list-style: none;
}

/*font-family: "Play", sans-serif;*/

/*----общие повторяющиеся стили----*/
.section {
    padding: 0 6rem;
}

.radius-50 {
    border-radius: 50px;
}

.text-20 {
    font-size: 1.25rem;
    line-height: 150%;
}

.text-24 {
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.text-30 {
    font-size: 1.875rem;
}

.text-white {
    color: #FFF;
}

.text-blue {
    color: #85AFC8;
}

.text-orange {
    color: #F6988F;
}

.text-green {
    color: #5FA068;
}

.section-title {
    font-size: 2.625rem;
    font-family: "Play", sans-serif;
    font-weight: 700;
}

.btn {
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 0.875rem 0;
    font-size: 1rem;
    font-weight: 600;
    font-family: "Inter", sans-serif;
}

.orange-btn {
    background-color: #F6988F;
}

.white-btn {
    background-color: #FFFFFF;
}

.yellow-btn {
    background-color: #EEB841;
}

.mar-bottom-50 {
    margin-bottom: 3.125rem;
}

.mar-bottom-68 {
    margin-bottom: 4.25rem;
}

.about,
.advantages {
    padding-block: 5rem;
}

/*-------header-------*/

/* burger */

.modal_menu {
    flex-direction: column;
    display: flex;
}

#menu-burger {
    cursor: pointer;
    display: none;
    width: 30px;
}

.modal_menu-container {
    display: none;
}

.hero-bg {
    background-color: #FCD9C3FF;
    border-radius: 0 0 50px 50px;
    background-image: url(../images/bg.png);
    background-size: cover;
}

.header,
.nav-btns {
    display: flex;
    align-items: center;
}

.header {
    padding: 1.438rem 6rem;
    justify-content: space-between;
    top: -100px;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: all .2s ease;
}

.header.fixed {
    position: fixed;
    transform: translateY(100px);
}

.logo {
    width: 140px;
}

.menu {
    justify-content: center;
    gap: 1.25rem;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
}

.menu-link {
    font-weight: 600;
}

.nav-one:hover,
.nav-two:hover,
.nav-three:hover,
.nav-four:hover,
.nav-five:hover,
.nav-six:hover,
.menu-link:hover {
    color: #F6988F !important;
}

.nav-btns {
    gap: 1rem
}

.header-btn {
    padding-inline: 0.688rem;
}

.login-btn {
    /* background-color: #85AFC8;
    padding:0.563rem; */
    font-size: 0;
}

.login-btn-img {
    width: 48px;
}

/*-------hero-------*/
.hero {
    padding-block: 3rem 6.375rem;
}

.hero-title {
    font-family: "Play", sans-serif;
    font-size: 3.75rem;
    line-height: 3.75rem;
    font-weight: 700;
    letter-spacing: -2px;
    text-transform: uppercase;
    margin-bottom: 4.375rem;
}

.hero-btn {
    padding-inline: 1.625rem;
}

.hero-img {
    width: 295px;
}

/*-------about-------*/
.about {
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.about-text-wrapper,
.advantages-text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/*-------programs-------*/
.programs {
    background-color: #FCD9C3FF;
    padding-block: 4.75rem 5rem;
    background-image: url(../images/bg-pink.png);
    background-size: cover;
}

.program-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 2.188rem 2rem;
    width: 100%;
}

.program-card-item {
    position: relative;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.375rem;
    flex: 0 0 23%;
    padding: 1.625rem 1.5rem 2.688rem 1.5rem;
    font-weight: 700;
    font-family: "Play", sans-serif;
    height: 182px;
    min-width: 250px;
    cursor: pointer;
}

.program-card-item:hover {
    background-color: #F8F8F8;
}

.program-card-subtitle {
    font-size: 1rem;
}

.program-card-item>h3 {
    text-transform: uppercase;
}

.program-card-shape {
    position: absolute;
    bottom: 10%;
    right: 12%;
    z-index: 1;
    width: 50px;
}

.program-card-item-last {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 2.25rem;
    padding-inline: 4rem;
    max-width: 600px;
}

.program-btn {
    padding-inline: 2.5rem;
}

/*-------advantages-------*/
.advantages {
    padding-right: 0;
    display: flex;
    align-items: center;
    gap: 4.625rem;
    flex-wrap: wrap;
    justify-content: center;
}

.advantages-text-wrapper {
    flex: 1 0 47%;
}

.advantages-img {
    max-width: 629px;
}

.advantages-img img {
    width: 100%;
}

.accordions-container,
.accordion-item {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.accordions-container {
    gap: 1.313rem;
}

.accordion-item {
    position: relative;
    padding-left: 6.875rem;
    gap: 1rem;
    cursor: pointer;
}

.accordion-arrow {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 50px;
    transition: all 0.3s;
}

.accordion-header {
    font-family: "Play", sans-serif;
}

.accordion-body {
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-out;
}

/*-------form-------*/
.form {
    background-color: #85AFC8;
    display: flex;
    flex-direction: column;
    padding-block: 4.625rem 5rem;
    margin-bottom: 5rem;

}

.form-wrapper {
    display: flex;
    justify-content: space-between;
}

.form-col-text,
.form-col-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-col-text {
    flex: 1 1 45%;
}

.form-col-text p {
    max-width: 533px;
}

.form-img {
    padding-top: 2rem;
    max-width: 267px;
}

.form-col-form {
    flex: 0 1 43%;
    margin-left: 2rem;
    gap: 1.375rem;
}

.input-row {
    display: flex;
    width: 100%;
    gap: 3.75rem;
    align-items: center;
}

.form-input {
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-size: 1rem;
    line-height: 1.625rem;
    flex: 1 1 40%;
}

.form-input::placeholder {
    color: rgba(255, 255, 255, 0.5);
    line-height: 1.625rem;
    font-size: 1rem;
}

/* Customize the label (the container) */
.checkbox-wrapper {
    display: block;
    position: relative;
    margin: 0.688rem 0 1.313rem 0;
    padding-left: 30px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-wrapper input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    top: 1px;
    left: 0;
    height: 18px;
    width: 18px;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 1px;
    left: 0;
    height: 18px;
    width: 18px;
    cursor: pointer;
    border: 1px solid #FFFFFF;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark::after {
    content: "\2713";
    top: 1px;
    left: 0;
    height: 18px;
    width: 18px;
    font-size: 1rem;
    color: #FFFFFF;
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-wrapper input:checked~.checkmark::after {
    display: block;
}

.checkbox-wrapper a {
    color: #FFFFFF;
    text-decoration: underline;
}

.form-col-form button {
    color: #85AFC8;
    padding-inline: 2.375rem;
    width: fit-content;
}

.textarea-wrapper {
    background: repeating-linear-gradient(to bottom, #FFFFFF, transparent 1px, transparent 1px, transparent 26px);
}

textarea {
    resize: none;
}

.input-column {
    display: flex;
    flex-direction: column;
}

/* The container */
.form_radio{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.form_radio .radio-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark-radio {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.form_radio:hover .radio-input~.checkmark-radio {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.form_radio .radio-input:checked~.checkmark-radio {
    background-color: transparent;
    border: 1px #FFFFFF solid;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark-radio:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.form_radio .radio-input:checked~.checkmark-radio:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.form_radio .checkmark-radio:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

/*-----footer------*/
.footer {
    background-color: #F8F8F8;
    border-radius: 50px 50px 0 0;
    padding: 5rem 6rem;
    display: flex;
    flex-direction: column;
    gap: 2.125rem;
}

.footer-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-contacts {
    font-weight: 700;
}

.footer-contacts li:first-child {
    padding-bottom: 0.625rem;
}

.menu-footer {
    flex: 0 1 50%;
    gap: 0 0.75rem;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
}

.menu-footer-link:hover {
    color: #F6988F;
}

.menu-footer li {
    flex: 1 1 30%;
}

.company {
    font-size: 1rem;
    font-weight: 500;
}

.designedby {
    display: flex;
    justify-content: space-between;
    width: 16%;
}

.designedby {
    font-weight: 500;
}

.designedby img {
    width: 36px;
}



/******** ПРОГРАМММЫ ОБЩАЯ *********/

.pink-btn {
    background-color: #F6988F;
}

.bg-white {
    background-color: #FFFFFF !important;
    background-image: none;
}

.bg-grey {
    background-color: rgba(248, 248, 248, 1);
}

.program-card-item-btns {
    display: flex;
}