@media (max-width: 1436px) {

    .header,
    .section,
    .footer {
        padding-inline: 2rem;
    }
}

@media (max-width: 1024px) {

    .hero-title {
        font-size: 3rem;
        line-height: 3.2rem;
    }

    .section-title {
        font-size: 2.3rem;
    }

    .text-20 {
        font-size: 1rem;
    }

    .hero-img {
        width: 250px;
    }

    .text-24 {
        font-size: 1.2rem;
    }
}


@media (max-width: 790px) {

    .menu {
        display: none;
    }

    #menu-burger {
        display: flex;
    }

    #menu-burger>img {
        width: 30px;
    }

    .close-btn {
        padding: 1rem;
        position: absolute;
        top: 0;
        right: 0;
    }

    .modal_menu-container {
        height: 100%;
        width: 100%;
        z-index: 10;
        background-color: rgba(133, 175, 200, 1);
        display: none;
        position: fixed;
        top: 0px;
        left: 0px;
    }

    .modal_menu {
        width: 100%;
        flex-direction: column;
    }

    .modal-btn-back {
        width: 30px;
        cursor: pointer;
    }

    .menu-mob {
        justify-content: center;
        gap: 1.25rem;
        flex-wrap: wrap;
        display: flex;
        align-items: center;
        background-color: rgba(133, 175, 200, 1);
        padding: 55px 0 34px;
    }

    .form-wrapper {
        flex-direction: column;
        gap: 2rem;
    }

    .form-col-form {
        margin-left: 0;
    }

    .hero-img {
        display: none;
    }

    .footer-row-mob {
        flex-direction: column;
        gap: 2rem;
    }

    .designedby {
        gap: 0.7rem;
        justify-content: center;
        width: unset;
    }

    .company,
    .text-blue {
        font-size: 0.8rem;
    }

    .designedby img {
        width: 30px;
    }

    .nav-btns-hidden {
        display: none;
    }

    .nav-btns {
        justify-content: center;
        padding-bottom: 2rem;
        background-color: rgba(133, 175, 200, 1);
    }

    .btn {
        font-size: 0.8rem;
    }

    .footer {
        padding-block: 3rem;
    }

    .footer-contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 570px) {

    .header,
    .section,
    .footer {
        padding-inline: 1rem;
    }

    .header {
        padding-block: 1.25rem;
    }

    .hero-title {
        font-size: 2.1rem;
        line-height: 2.4rem;
    }

    .section-title {
        font-size: 1.7rem;
    }

    .text-20 {
        font-size: 0.8rem;
    }

    .text-30 {
        font-size: 1.3rem;
    }

    .form-col-form {
        gap: 1rem;
    }

    .input-row {
        gap: 1rem;
        flex-direction: column;
    }

    .form-input {
        width: 100%;
    }

    .program-card-item {
        flex: 0 0 80%;
    }

    .about,
    .advantages,
    .form {
        padding-block: 3rem;
    }

    .mar-bottom-68,
    .mar-bottom-50,
    .form {
        margin-bottom: 2.25rem;
    }

    .programs {
        padding-block: 3rem;
    }

    .advantages {
        gap: 2.625rem;
    }

    .logo {
        width: 100px;
    }
}