@media (max-width: 1436px) {

    .header,
    .section,
    .footer {
        padding-inline: 2rem;
    }
}

@media (max-width: 1024px) {

    .hero-title {
        font-size: 3rem;
        line-height: 3.2rem;
    }

    .section-title {
        font-size: 2.3rem;
    }

    .text-20 {
        font-size: 1rem;
    }

    .hero-img {
        width: 250px;
    }

    .text-24 {
        font-size: 1.2rem;
    }

    .swiper-slide-docs {
        width: calc(33.33% - 21.33px);
        height: unset !important;
        margin-right: 32px;
    }

    .swiper-slide-partners {
        width: 33.33%;
        height: unset !important;
        padding-inline: 20px;
    }
    .program-descr {
        gap: 2.5rem;
    }
}


@media (max-width: 790px) {

    .menu {
        display: none;
    }

    #menu-burger {
        display: flex;
    }

    #menu-burger > img {
        width: 30px;
    }

    .close-btn {
        padding: 1rem;
        position: absolute;
        top: 0;
        right: 0;
    }

    .modal_menu-container {
        height: 100%;
        width: 100%;
        z-index: 10;
        background-color: rgba(133, 175, 200, 1);
        display: none;
        position: fixed;
        top: 0px;
        left: 0px;
    }

    .modal_menu {
        width: 100%;
        flex-direction: column;
    }

    .modal-btn-back {
        width: 30px;
        cursor: pointer;
    }

    .menu-mob {
        justify-content: center;
        gap: 1.25rem;
        flex-wrap: wrap;
        display: flex;
        align-items: center;
        background-color: rgba(133, 175, 200, 1);
        padding: 55px 0 34px;
        flex-direction: column;
    }

    .form-wrapper {
        flex-direction: column;
        gap: 2rem;
    }

    .form-col-form {
        margin-left: 0;
    }

    .hero-img {
        display: none;
    }

    .footer-row-mob {
        flex-direction: column;
        gap: 2rem;
    }

    .designedby {
        gap: 0.7rem;
        justify-content: center;
        width: unset;
        align-items: center;
    }

    .company > .text-blue {
        font-size: 0.8rem;
    }

    .designedby img {
        width: 30px;
    }

    .nav-btns-hidden {
        display: none;
    }

    .nav-btns {
        justify-content: center;
        padding-bottom: 2rem;
        background-color: rgba(133, 175, 200, 1);
    }

    .btn {
        font-size: 0.8rem;
    }

    .footer {
        padding-block: 3rem;
    }

    .footer-contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .swiper-slide-docs {
        width: calc(50% - 16px);
        height: unset !important;
        margin-right: 32px;
    }

    .swiper-slide-partners {
        width: 50%;
        height: unset !important;
        padding-inline: 20px;
    }

    .docs-button-prev,
    .partners-button-prev {
        padding-right: 1.5rem;
    }

    .docs-button-next,
    .partners-button-next {
        padding-left: 1.5rem;
    }

    .teacher-row {
        flex-direction: column;
    }

    .about-teacher {
        gap: 1rem;
    }
    .program-descr>img {
        display: none;
    }
    .program-page .row-cards {
        flex-wrap: wrap;
        gap: 2.5rem;
    }
    .program-page .column-container {
        flex: 0 1 40%;
        gap: 1rem;
    }
    .class-cards {
        flex-direction: column;
        gap: 2.75rem;
        padding-bottom: 5rem;
    }
    .class-card-column {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
    }
    .number {
        top: -24px;
    }
    .teacher-page {
        flex-direction: column-reverse;
        gap: 2rem;
    }
}

@media screen and (max-width: 570px) {

    .header,
    .section,
    .footer {
        padding-inline: 1rem;
    }

    .hero-bg {
        border-radius: 0 0 30px 30px;
    }

    .footer {
        border-radius: 30px 30px 0 0;
    }

    .header {
        padding-block: 1.25rem;
    }

    .hero-title {
        font-size: 2.1rem;
        line-height: 2.4rem;
    }

    .section-title {
        font-size: 1.7rem;
    }

    .text-24 {
        font-size: 1.125rem;
    }


    .text-20 {
        font-size: 0.8rem;
    }

    .text-30 {
        font-size: 1.3rem;
    }

    .radius-50 {
        border-radius: 30px;
    }

    .form-col-form {
        gap: 1rem;
    }

    .input-row {
        gap: 1.25rem;
        flex-direction: column;
    }

    .radio-row {
        padding-block: 1rem;
    }

    .form-input {
        width: 100%;
    }

    .program-cards {
        gap: 1.25rem;
    }

    .program-card-item {
        flex: 0 0 40%;
        min-width: 162px;
        padding: 1.25rem 1rem 1.5rem 1rem;
        gap: 0.75rem;
    }

    .program-card-subtitle {
        font-size: 0.75rem;
    }

    .program-card-shape {
        width: 34px;
    }

    .about,
    .advantages,
    .form {
        padding-block: 3rem;
    }

    .mar-bottom-68,
    .mar-bottom-50,
    .form {
        margin-bottom: 2.25rem;
    }

    .programs {
        padding-block: 3rem;
    }

    .advantages {
        gap: 2.625rem;
    }

    .accordion-item {
        padding-left: 3.5rem;
    }

    .accordion-arrow {
        top: 4px;
        width: 34px;
    }

    .logo {
        width: 100px;
    }

    .checkbox-wrapper {
        font-size: 0.75rem;
    }

    .designedby p {
        max-width: 70px;
    }

    .team-cards {
        justify-content: center;
    }

    .custom-select-filter, .filter-form > .filter-btn {
        flex: 0 1 12%;
        max-width: 110px;
        min-width: 95px;
    }

    .custom-select-filter > .select-button {
        padding: 0.25rem;
        font-size: 0.75rem;
    }

    .custom-select-filter > .select-button::after {
        font-size: 1rem;
    }

    .custom-select-filter > .select-dropdown {
        font-size: 0.75rem;
    }

    .swiper-slide-docs {
        width: calc(50% - 10px);
        height: unset !important;
        margin-right: 20px;
    }

    .swiper-slide-partners {
        width: 50%;
        height: unset !important;
        padding-inline: 10px;
    }

    .docs-button-next > img, .docs-button-prev > img, .partners-button-next > img, .partners-button-prev > img {
        width: 20px
    }

    .about-page {
        flex-direction: column;
    }

    .about-page > img {
        padding-top: unset;
    }

    .team-cards {
        padding-block: 2.5rem;
        gap: 2rem 1.5rem;
    }
    .team-card-container{
        gap: 1rem;
    }

    .team-card {
        padding: 0;
        gap: 1rem;
        flex: 0 1 45%;
    }
    .team-card-header,
    .text-16 {
        font-size: 0.875rem;
    }
    .team-img {
        max-width: unset;
        width: 100%;
    }
    .team-btn{
        padding-inline: 0;
        width: 100%;
    }
    .number {
        top: -18px;
    }
    .teacher-page .row-cards {
        gap: 2.5rem;
        flex-wrap: wrap;

    }
    .teacher-page .column-container {
        flex: 0 1 42%;
        gap: 1rem
    }
}

@media (max-width: 376px) {
    .program-card-item {
        min-width: 154px;
    }

    .text-24 {
        font-size: 1rem;
    }

}